
body{
    font-family: 'poppins', sans-serif;
    font-size: 50px;
    margin: 0       ;
}
.orange-color{
    color: orange;
}
.azad-pic{
    width: 800px;
    height: 800px;
    
}
section{
    display: flex;
}
.half-width{
    width: 100%;
    padding-left: 20px;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
  background-image: linear-gradient(rgb(104, 94, 94), yellow);
    padding: 10px 20px ;
    border-radius: 20px;
    font-weight: 400;
    color: black;
    font-size: 20px;
}
.top-banner{
    background-image: url(meter.png);
    background-repeat: no-repeat;
}